table.filefield-filebrowser tbody tr td div.form-item {
  display: inline;
}

.filefield-icon {
  float: left;
  margin-right: 0.4em;
}

.filefield-icon img {
  display: inline;
}

.filefield-item {
  clear: both;
}
